@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9875 0.0026 106.45);
  --foreground: oklch(0.2709 0.0039 109.99);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2709 0.0039 109.99);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2709 0.0039 109.99);
  --primary: oklch(0.8038 0.2581 140.33);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.8948 0.2336 128.43);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9695 0.0029 107.46);
  --muted-foreground: oklch(0.4444 0.0049 111.99);
  --accent: oklch(0.9695 0.0029 107.46);
  --accent-foreground: oklch(0.2709 0.0039 109.99);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.9246 0.0036 107.84);
  --input: oklch(0.869 0.0042 108.68);
  --ring: oklch(0.8038 0.2581 140.33);
  --chart-1: oklch(0.8038 0.2581 140.33);
  --chart-2: oklch(0.8948 0.2336 128.43);
  --chart-3: oklch(0.884 0.1998 140.62);
  --chart-4: oklch(0.8948 0.2336 128.43);
  --chart-5: oklch(0.9648 0.0641 139.61);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2709 0.0039 109.99);
  --sidebar-primary: oklch(0.8038 0.2581 140.33);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.9875 0.0026 106.45);
  --sidebar-accent-foreground: oklch(0.2709 0.0039 109.99);
  --sidebar-border: oklch(0.9246 0.0036 107.84);
  --sidebar-ring: oklch(0.8038 0.2581 140.33);
  --base-50: oklch(0.9875 0.0026 106.45);
  --base-100: oklch(0.9695 0.0029 107.46);
  --base-200: oklch(0.9246 0.0036 107.84);
  --base-300: oklch(0.869 0.0042 108.68);
  --base-400: oklch(0.7076 0.0047 109.37);
  --base-500: oklch(0.5532 0.0051 110.87);
  --base-600: oklch(0.4444 0.0049 111.99);
  --base-700: oklch(0.3735 0.0046 111.19);
  --base-800: oklch(0.2709 0.0039 109.99);
  --base-900: oklch(0.2139 0.0036 110.26);
  --base-950: oklch(0.1422 0.0034 109.19);
  --base-1000: oklch(0.0956 0.0031 109.71);
  --primary-50: oklch(0.9844 0.0283 138.37);
  --primary-100: oklch(0.9648 0.0641 139.61);
  --primary-200: oklch(0.9317 0.1218 140.23);
  --primary-300: oklch(0.884 0.1998 140.62);
  --primary-400: oklch(0.8038 0.2581 140.33);
  --primary-500: oklch(0.7455 0.2611 140.26);
  --primary-600: oklch(0.6376 0.2276 140.49);
  --primary-700: oklch(0.5297 0.1797 140.87);
  --primary-800: oklch(0.4507 0.1404 141.17);
  --primary-900: oklch(0.3992 0.1132 141.85);
  --primary-950: oklch(0.2702 0.0791 142.57);
  --primary-1000: oklch(0.1861 0.0566 143.04);
  --secondary-50: oklch(0.9857 0.0365 122.98);
  --secondary-100: oklch(0.9667 0.0792 124.51);
  --secondary-200: oklch(0.9372 0.1504 126.33);
  --secondary-300: oklch(0.8948 0.2336 128.43);
  --secondary-400: oklch(0.8379 0.2651 130.3);
  --secondary-500: oklch(0.7651 0.2489 132.04);
  --secondary-600: oklch(0.6467 0.2131 132.8);
  --secondary-700: oklch(0.5317 0.1751 132.76);
  --secondary-800: oklch(0.4527 0.1478 132.23);
  --secondary-900: oklch(0.4042 0.1217 132.43);
  --secondary-950: oklch(0.2735 0.0866 133.43);
  --secondary-1000: oklch(0.1886 0.0635 134.09);
}

.dark {
  --background: oklch(0.1422 0.0034 109.19);
  --foreground: oklch(0.9246 0.0036 107.84);
  --card: oklch(0.2139 0.0036 110.26);
  --card-foreground: oklch(0.9246 0.0036 107.84);
  --popover: oklch(0.2139 0.0036 110.26);
  --popover-foreground: oklch(0.9246 0.0036 107.84);
  --primary: oklch(0.8038 0.2581 140.33);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.8948 0.2336 128.43);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.2709 0.0039 109.99);
  --muted-foreground: oklch(0.869 0.0042 108.68);
  --accent: oklch(0.2709 0.0039 109.99);
  --accent-foreground: oklch(0.9246 0.0036 107.84);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.2709 0.0039 109.99);
  --input: oklch(0.3735 0.0046 111.19);
  --ring: oklch(0.8038 0.2581 140.33);
  --chart-1: oklch(0.8038 0.2581 140.33);
  --chart-2: oklch(0.8948 0.2336 128.43);
  --chart-3: oklch(0.884 0.1998 140.62);
  --chart-4: oklch(0.8948 0.2336 128.43);
  --chart-5: oklch(0.9648 0.0641 139.61);
  --sidebar: oklch(0.2139 0.0036 110.26);
  --sidebar-foreground: oklch(0.9246 0.0036 107.84);
  --sidebar-primary: oklch(0.8038 0.2581 140.33);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.2709 0.0039 109.99);
  --sidebar-accent-foreground: oklch(0.9246 0.0036 107.84);
  --sidebar-border: oklch(0.2709 0.0039 109.99);
  --sidebar-ring: oklch(0.8038 0.2581 140.33);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-sidebar text-foreground dark:bg-background;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
